@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.dark-1{
    color: #181818;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    color: #fff;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer; 

}
.btn{
    margin-right: 25px;
}
header{
    background-image: url("../images/developer.png"),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
   width: 100%;
   
}
.about-title {
    color: #181818;
    font-size: 35px;
    font-weight: bold;
}
.about-description{
    font-size: 18px;
    line-height: 25px;
    color: #757575;
    padding: 35px 15px;
}
.secendory-bg{
    background-color: #FFF8F3;
}
main{
    width: 1140px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
/* css style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 200px;
}
.nav-title{
   font-weight: 800;
   font-size: 45px; 
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    margin-right: 50px;
    list-style: none;
}
nav li a{
    text-decoration: none;
    cursor: pointer;
}


/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1540px;
    margin: auto;
}
.banner-content{
    max-width: 585px;
   
}
.banner-greting{
    font-size: 35px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;

}
.banner-discription{
    font-size: 18px;
    color: #757575;
}
.banner-image img{
    width: 584px;
}
.clean{
    width: 827px;
    margin: 0 auto;
    background-color: #FFFFFF;
    
}
.about{
    padding: 150px 160px;
    margin-top: 85px;
    text-align: center;
    border-radius: 15px;
   
   
}
.about-itmes{
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}
.item-title{
    font-size: 15px;
    color: #757575;
}
.item-dectionary{
    font-weight: 600;
}
.skill-container{
    display: flex;
    gap:87px ;
    margin-top: 35px;
    
}
.skills{
    margin-top: 84px;
}
.skill{
    padding: 30px 25px;
    margin: 50px 0;
    box-shadow: 0 6px 50px 0 #000000;
}
.resume{
    /* text-align: center; */
    margin-top: 130px;
    margin-bottom: 65px;
    
}

.resume-title-1{
    text-align: center;
}
.summary-resume{
    display: flex;
    gap: 25px;
    margin-top: 120px;
}

.education, .experience{
    padding: 35px 0;
    
}
.education-title, .experience-title{
    font-size: 25px;
    padding: 15px 0 8px 0;
}
.small-title{
    font-size: 15px;
    padding-bottom: 20px;
}
.resume-description{
    font-size: 16px;
    line-height: 29px;
    color: #757575;

}
.buttu{
    text-align: center;
    margin-top: 35px;
}


/* footer section */
footer{
    background-color: #FFF8F3;
    height: 650px;
    /* padding: 150px ; */

}

.footer-h1{
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 20px;
}
.footer-p1{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}
.footer-left img{
    margin-right: 15px;
}
.footer-section{
    display: flex;
    justify-content:space-evenly ;
    width: 1450px;
    height: 70%;
    margin: auto;
    align-items: center;
    /* text-align: center; */
    
}
.footer-right {
    align-items: center;
    margin-top: 130px;
    height: 100%;

}
.footer-right h1{
  margin-top: 84px;
  font-size: 35px;
}
.inp input{
    display: block;
    height: 50px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 8px 25px;
    border: none;
    border-radius: 6px;
    color: #181818;
    
}
.inp textarea{
    border: none;
    border-radius: 6px;
    padding: 18px;
}
.bettr{
    
    margin-top: 25px;
}
